<header class="blog-header clear-fix">
    <h1 class="blog-title"><a href="/" class="link-plain">JW.</a></h1>
    <nav class="blog-navigation">
        <ul class="navigation-list">
            <li class="navigation-list-item"><a href="/articles.html" class="link-plain">articles</a></li>
            <span class="text-mute">/</span>
            <li class="navigation-list-item"><a href="/about.html" class="link-plain">about</a></li>
            <span class="text-mute">/</span>
            <li class="navigation-list-item"><a href="https://twitter.com/jmwhittaker" class="link-plain" target="_blank">twitter</a></li>
        </ul>
    </nav>
</header>
