<footer class="blog-footer clear-fix">

    <div class="footer-block navigate-pages">
        {% if page.previous.url %}
        <a href="{{ page.previous.url }}" class="link-plain link-previous">previous <span class="drop-primary">article</span></a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>

    <div class="footer-block txt-center navigate-to-top">
        <a href="#" class="link-plain">top</a>
    </div>

    <div class="footer-block txt-right navigate-pages">
        {% if page.next.url %}
        <a href="{{ page.next.url }}" class="link-plain link-next">next <span class="drop-primary">article</span></a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>

</footer>

<p class="copyright">&copy;2013 James M Whittaker Esq.</p>
