<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge, chrome=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} James Whittaker ~ Engineer &amp; designer</title>
    <link rel="alternate" type="application/rss+xml" title="James Whittaker RSS Feed" href="http://jameswhittaker.com/feed.xml">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="http://use.typekit.net/pbk5zto.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
